*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    background-image: url(images/50\ Animated\ Gifs\ of\ Fighting\ Game\ Backgrounds\ TwistedSifter.gif);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
   
 }
  
  .fighter {
    width: 200px;
    height:300px;
    position: absolute;
  }
 
  #player1 {
    /* height: 300px;  */
    position: absolute;
     /* width: 200px;  */
    left: 0px;
    top: 300px;
  }
  
  #player2 {
    position: absolute;
   /* height: 300px; */
   /* width: 200px; */
    right: 0px;
    top: 300px;
  }
  #walk{
    left: 0px;
    position:absolute ;
    top: 300px;
    display: none;
  }

ul{
  color: #fff;
  padding: 10px;
  margin-left: 10px;
}
li{
  color:  #fff;
}